# ------------------------------------------------------------------
# Specific Indexe firewall rules
# ------------------------------------------------------------------

- name: Ensure Indexer Sinequa firewall ports are open
  community.windows.win_firewall_rule:
    name: "Sinequa Indexer - TCP {{ item }}"
    group: "Sinequa"
    localport: "{{ item }}"
    protocol: TCP
    direction: in
    action: Allow
    enabled: true
    state: present
  loop: "{{ sinequa_indexer_firewall_ports }}"

  - name: Sinequa Installation (Using SCMD) of service only
  ansible.windows.win_command: >
    scmd InstallService
  when: sinequa_needs_install
