<?xml version="1.0" encoding="utf-8"?>
<Sinequa>
  <NodeName>{{ sinequa_node_name }}</NodeName>
  <WebAppName>{{ sinequa_webapp_name }}</WebAppName>
  <WebAppType>netcorekestrel</WebAppType>
</Sinequa>
